*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text-section h1{
 width: 524px;
height: 228px;
right: 1195px;
top: 2044px;
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 76px;
letter-spacing: -0.03em;
color: #1E1B1B;
}

.flex{
    display: flex;
    flex-direction: row;
}

.mech-sect .text-section, .mech-sect .side-section{
    width: 45%;
}

.mech-sect .side-section{
    width: 45%;
 margin-left: 60px;
}


.mech-sect{
    padding: 80px 0;
}

.image-bx .text-area{
    width
}